<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423045189865-58bh2k6f2j1sposffiemsmikvkae3s72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423045189865-58bh2k6f2j1sposffiemsmikvkae3s72</string>
	<key>API_KEY</key>
	<string>AIzaSyCF-kPexvGsxDqyI99jv7o1R_Lqy2INZqc</string>
	<key>GCM_SENDER_ID</key>
	<string>423045189865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>barisozcelikay.chatchain</string>
	<key>PROJECT_ID</key>
	<string>chatchain-dd26d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatchain-dd26d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423045189865:ios:7d55c9c2fcf4fc9086e078</string>
</dict>
</plist>